doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Vegan HoReCA
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Forum&family=Raleway:wght@500;600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
  body
  .container
    header.header 
      a.header__logo(href="#")
        img.header__logo-img(src="images/logo.svg")
      nav.header__nav
        a.header__link(href="#") СПРАВОЧНИК
        a.header__link(href="#") ПОСТАВЩИКИ
        a.header__link(href="#about") О НАС
        a.header__link(href="#") КОНТАКТЫ
    section.about(id="about")
      h1.about__title О НАС
      .about__info 
        .about__info-block
          p.about__info-text Vegan HoReCa – это проект, который родился из боли. Боли от того, что веганских блюд в общепите нет. А если они и есть, то в их составе есть что-то "не то": молоко, рыба, яйца, мёд.
          p.about__info-text Вместо того, чтобы злиться, мы выявили проблему и взялись её решать. Проблема: отсутствие качественных образовательных материалов для представителей сферы общепита. Нюансов много, и их невозможно коротко объяснить. Решение: их нужно систематизировать и собирать в справочник.
        .about__info-image
          .about__image-block 
            img.about__image(src="./images/marina.jpg")
            p.about__image-text Марина, основательница vegan-map.ru
          .about__image-block 
            img(src="./images/julia.jpg" class="about__image about__image--rounded")
            p.about__image-text Юля, авторка och-vkusno.com
      .about__info 
        .about__info-image
          div(class="about__image-block about__image-block--big") 
            img(src="images/anna.jpg" class="about__image about__image--big")
            p.about__image-text Анна, авторка anna_veganka, владела веганской доставкой
        .about__info-block
          p.about__info-text Над этим справочником трудились те, кто близко знакомы с этой сферой, некоторые из нас даже имели свой веганский бизнес. Мы скурпулёзно собирали всю нашу экспертизу и превращали её в части справочника. 
          p.about__info-text Мы продолжим добавлять новые записи по мере необходимости, и обновлять старые. А если у вас возникнет вопрос, то мы ответим на него, если вы напишите на hello@veganrussian.ru.
      .about__team
        h2.about__team-title НАД ПРОЕКТОМ РАБОТАЛИ:
        .about__team-blocks
          .about__team-block 
            .about__team-content
              h5.about__team-block-title Авторки справочника:
              a.about__team-link(href="#") Юлия Амелина,
              a.about__team-link(href="#") Анна Свердлова,
              a.about__team-link(href="#") Марина Ястремская.
            .about__team-content
              h5.about__team-block-title Редакторка:
              a.about__team-link(href="#") Дарья Ларина.
            .about__team-content
              h5.about__team-block-title Видео:
              a.about__team-link(href="#") Михаил Золотарёв.
          .about__team-block 
            .about__team-content
              h5.about__team-block-title Актрисы видео:
              a.about__team-link(href="#") Анна,
              a.about__team-link(href="#") Наталья,
              a.about__team-link(href="#") Паулина,
              a.about__team-link(href="#") Дара.
            .about__team-content
              h5.about__team-block-title Фото:
              a.about__team-link(href="#") Карина Гарифуллина.
            .about__team-content
              h5.about__team-block-title Дизайнерка:
              a.about__team-link(href="#") Маргарита Хайбрахманова.
            .about__team-content
              h5.about__team-block-title Верстальщик:
              a.about__team-link(href="#") Эдик Гизбрехт.
    section.links
      a.link(href="#") Открыть справочник по веганским блюдам
        img.link__icon(src="images/arrow.svg")
      a.link(href="#") Посмотреть поставщиков
        img.link__icon(src="images/arrow.svg")
    footer.footer 
      a.footer__logo(href="#")
        img.footer__logo-img(src="images/logo.svg") 
      a.footer__link(href="#") НАПИСАТЬ НАМ 
      a.footer__link(href="#") НАШ INSTAGRAM 